{% extends 'book/base.html' %}

{% load static %}

{% block title %} {{ review.title }} | 북&장 {% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/review_detail_style.css' %}?hi">

{% comment %} <hr> {% endcomment %}

<main class="site-body">
  <article class="review-detail max-content-width">
    <div class="review-info">
      <img src="{{review.book.book_img_url}}" alt="My Image" width=300px height=auto>
      <div class="restaurant-name">
        <span class="cp-chip green"> <h2> 책제목 : &nbsp;{{ review.book.book_title }} </h2> </span>
      </div>
      <h1 class="title"> 리뷰 제목 : &nbsp;{{ review.title }}</h1>
      <div class="author">
        <a class="review-author" href="{% url 'profile' review.author.id %}">
          <div class="cp-avatar" style="background-image: url('{{ review.author.profile_pic.url }}')"></div>
          <span>{{ review.atuhor.nickname }}</span>
        </a>
      </div>
      <date class="date">작성 날짜 : &nbsp;{{ review.dt_created|date:"Y년 n월 j일"}}</date>
      <div class="review-rating">
        <span class="cp-stars">
          평점 : &nbsp;{{ review.rating }}
        </span>
      </div>
      
      <div id="content">
        내용
        <p>{{ review.review_context |linebreaksbr }}</p>
      </div>

      <div id="div_tag">
        <b>TAGS: </b>  
        {% load tagging_tags %} 
        {% tags_for_object object as tags %}
        {% for tag in tags %}
        <a href="{% url 'tagged_object_list' tag.name %}">{{tag.name}}</a>
        {% endfor %}
        <a href="{% url 'tag_cloud' %}"><i>[ TagCloud ]</i></a>
        </div>
      
    </div>

    <div class="footer">
      <a class="back-link" href="{% url 'review-list' %}">&lt; 목록으로</a>
      {% if review.author == user %}
        <div class="buttons">
          <a class="secondary" href="{% url 'review-update' review.id %}">수정</a>
          <a class="warn" href="{% url 'review-delete' review.id %}">삭제</a>
        </div>
      {% endif %}
    </div>
  </article>
</main>
{% endblock content %}