{% extends 'book/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/review_list_style.css' %}?hello">

{% comment %} <hr> {% endcomment %}

  <h2>북&장에 등록된 모든 리뷰</h2>

 <div class="div_review">
  <table>
    {% for review in reviews %}
      {% if forloop.counter == 1 %}

        <td id="re_">리뷰 제목</td>
        <td id="re_">작성자</td>
        <td id="re_">평점</td>
        <td id="re_">작성날짜</td>
        </tr>
      {% endif %}
      <tr>
      <section class="cp-card content">
        <div class="body">
          <!--<span class="cp-chip green"> {{ review.book.book_title}}</span>--> 
          <td><a href="{% url 'review-detail' review.id %}">
            <div class="title"> {{review.title}}</div>
          </a></td>
          <td><a href="{% url 'review-detail' review.id %}">  
            <div class="review-author">
              <img src="./prac1_images/profile_img.jpg" alt="" />
              <!--<img src="url('{{ review.author.profile_pic.url }}')" >-->
              <span>{{review.author.nickname}}</span>
            </div>
          </a></td>
        
          <td><a href="{% url 'review-detail' review.id %}">                                        
            <div class="review-rating">
              <span class="cp-stars">
                {{ review.rating }}
              </span>
            </div>
          </a></td>
          <td><a href="{% url 'review-detail' review.id %}">
            <date class="date">{{ review.dt_created|date:"Y년 n월 j일"}}</date>
          </a></td>
        </div>
      </section>
      {% if forloop.counter >= 2 %}
        </tr>
      {% endif %}
      {% empty %}
        <p class="empty">
          아직 리뷰가 없어요 :(
        </p>
    {% endfor %}  
  </table>
  </div>

   {% if is_paginated %}
        <footer>
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page=1">처음</a></li>
              <li><a href="?page={{ page_obj.previous_page_number }}">◀</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="current"><a href="?page={{ num }}">{{ num }}</a></li>
              {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">▶</a></li>
              <li><a href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
            {% endif %}
          </ul>
        </footer>
      {% endif %}
{% endblock content %}