{% extends 'book/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}


{% block title %}{{ profile_user.nickname }}님의 리뷰 | 북&장 {% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/user_review_list_style.css' %}?after">

<hr>

<main class="site-body">
  <div class="content-list max-content-width">
    <div class="header">
      <h2>{{ profile_user.nickname }}의 리뷰 ({{ paginator.count}})</h2>
    </div>

    <div class="contents">
      <table>
        {% for review in user_reviews %}
          {% if forloop.counter == 1 %}
            <td id="re_">리뷰 제목</td>
            <td id="re_">작성자</td>
            <td id="re_">평점</td>
            <td id="re_">작성날짜</td>
            </tr>
          {% endif %}
          <tr>
            <section class="cp-card content">
              <div class="body">
                <!--<span class="cp-chip green"> {{ review.book.book_title}}</span>--> 
                <td><a href="{% url 'review-detail' review.id %}">
                  <div class="title"> {{review.title}}</div>
                </a></td>
                <td><a href="{% url 'review-detail' review.id %}">  
                  <div class="review-author">
                    <img src="./prac1_images/profile_img.jpg" alt="" />
                    <!--<img src="url('{{ review.author.profile_pic.url }}')" >-->
                    <span>{{review.author.nickname}}</span>
                  </div>
                </a></td>
              
                <td><a href="{% url 'review-detail' review.id %}">                                        
                  <div class="review-rating">
                    <span class="cp-stars">
                      {{ review.rating }}
                    </span>
                  </div>
                </a></td>
                <td><a href="{% url 'review-detail' review.id %}">
                  <date class="date">{{ review.dt_created|date:"Y년 n월 j일"}}</date>
                </a></td>
              </div>
            </section>
            {% if forloop.counter >= 2 %}
              </tr>
            {% endif %}
            {% empty %}
              <p class="empty">
                아직 리뷰가 없어요 :(
              </p>
          {% endfor %}  

          </tr>
      </table>
    </div>

    <div class="wrap-pagination">    
      <a class="cp-ic-button circle backbutton" href="{% url 'profile' profile_user.id %}">프로필로 돌아가기</a>
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page=1">처음</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">이전</a></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="current">{{ num }}</li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">다음</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}