{% extends "book/base.html" %}
{% block title %}tagging_cloud.html{% endblock %}

{% load static %}
{% block extrastyle %}{% static "css/tag.css" %}{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/tagging_cloud_style.css' %}?hello">
<div id="content">
    <h1>Review Tag Cloud</h1>
    <div class="tag-cloud">
        {% load tagging_tags %}
        {% tag_cloud_for_model book.Review as tags with steps=6 min_count=1 distribution=log %}
        {% for tag in tags %}
        <span class="tag-{{tag.font_size}}">
            <a href="{% url 'tagged_object_list' tag.name %}">{{tag.name}}</a>
        </span>
        {% endfor %}
    </div>
</div>
{% endblock %}
