.alert {
    position: relative;
    top: -360px;
    left: 1140px;
    width: 300px;
    font-size:15px;
    color: red;
    line-height: 95%;
}

.errorlist {
    position: relative;
    left: 0%;
    width: 150%;
}