#site_name {
    color: #363864;
    text-decoration-line: none;
    font-size: 35px;
    position: relative;
    left: 20%;
}

p {
    position: absolute;
    top: -5px;
    right: 200px;
    font-size: 20px;
    color: #363864;
    font-weight: 600;
}

#login_link{
    position: absolute;
    top: 65px;
    right: 280px;
    font-size: 16px;
    font-weight: 500;
    color: #363864; 
 }

 #signup_link{
    position: absolute;
    top: 65px;
    right: 200px;
    font-size: 16px;
    font-weight: 500;
    color: #363864;
    
 }

 #write_review_link{
   position: absolute;
   top: 65px;
   right: 370px;
   font-size: 16px;
   font-weight: 500;
   color: #363864; 
}

 #myprofile_link{
    position: absolute;
    top: 65px;
    right: 282px;
    font-size: 16px;
    font-weight: 500;
    color: #363864; 
 }

 #logout_link{
    position: absolute;
    top: 65px;
    right: 200px;
    font-size: 16px;
    font-weight: 500;
    color: #363864;
    
 }

 #read_review_link {
   position: absolute;
   top: 43px;
   right: 200px;
   font-size: 16px;
   font-weight: 500;
   color: #363864;
 }

 #user_recommend_link {
   position: absolute;
   top: 43px;
   right: 290px;
   font-size: 16px;
   font-weight: 500;
   color: #363864;
 }

 hr {

    background-color: #FFC1AB;
    height: 5px;
    border: 0;
}


select {
   position: absolute;
   top: 25px;
   left: 35%;
   border-radius: 5px;
   border: 3px solid #FFC1AB;
   width: 100px; 
   height: 40px;
   padding: .8em .5em; 
   font-size: 13px;
   background: url('../img/select_option_arrow.jpg') no-repeat right 10px center; /* 네이티브 화살표 대체 */  
   -webkit-appearance: none; /* 네이티브 외형 감추기 */
   -moz-appearance: none;
   appearance: none;

}
select:focus {
   border: 3px solid #FFC1AB;
   outline: none;
}

/*
option:checked, option:hover {
   color: white;
   background: #488f8f repeat url("mycolor.gif");
}
*/

#search_box {
   position: absolute;
   top: 25px;
   left: 41.2%;
   font-size: 13px;
   width: 300px; 
   height: 40px;
   border-radius: 5px 0 0 5px;
   border: 3px solid #FFC1AB;
}

input:focus {
   outline: none;
}

#search_btn {
   position: absolute;
   top: 25px;
   left: 58.8%;
   width : 80px;
   height : 40px;
   font-weight: 800;
   font-size: 15px;
   display: inline-block;
   outline: 0;
   cursor: pointer;
   border-radius: 0 5px 5px 0;
   border: 2px solid #FFC1AB;
   color: #FFC1AB;
   background: 0 0;
   
}

#search_btn:hover{
   background-color: #FFC1AB;
   color: #fff;
}

h2 {
   position: relative;
   top: 80px;
   font-size: 23px;
   color: #363864;
   left: 15%;
   margin-top: 20px;
}

.random {
   position : absolute;
   left : 5%;

}
#pageSection{
   position: relative;
   top: 70px;
   width: 200px;
   height: 350px;
   margin-left: 70px;
}

.page {
   position: absolute;
   top: 0;
   left: 0;
   background-color: white;
}

#page1 {
   z-index: 1;
   transform-origin: left center;
   transition-duration: 1s;
   transition-timing-function: ease-in;
   width: 200px;
   height: 200px;
 }
 
#page1:hover {
   transform: rotateY(-180deg);
   opacity: 0.4;
 }
 
#page2 {
   text-align: center;
   z-index: 0;
   padding: 0 8px;
   width: 184px;
}

h3 {
   font-size: 20px;
   color: #363864;
}

h5 {
   color: #363864;
}

.flex-container {
   display: flex;
   position: relative;
   left: 100px;
   width: 250px;
}

.flex-container .book {
   flex-wrap: wrap;
}

#select_Genre{
   position: absolute;
   left: 15%;
   color: #363864;
   width : 150px;
   height : 30px;
   border: 3px solid #FFC1AB;
   border-radius: 5px;
   font-weight: 800;
   font-size: 15px;
   display: inline-block;
   outline: 0;
   cursor: pointer;
   color: #FFC1AB;
   background: 0 0;
   
}

#select_Genre:hover{
   background-color: #FFC1AB;
   color: #fff;
}

#wish_List{
   position: absolute;
   left: 15%;
   top: 18%;
   color: #363864;
   width : 150px;
   height : 30px;
   border: 3px solid #FFC1AB;
   border-radius: 5px;
   font-weight: 800;
   font-size: 15px;
   display: inline-block;
   outline: 0;
   cursor: pointer;
   color: #FFC1AB;
   background: 0 0;
   
}

#wish_List:hover{
   background-color: #FFC1AB;
   color: #fff;
}