.heading {
    position:relative;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:325px;
    left:800px;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    color :#414a67;
    text-align: center;
    margin: 30px;
  }

.cp-input {
    position: relative;
    top:-280px;
    left:730px; 
    border: 2px solid #414a67;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;

}

.cp-button {
    position:relative;
    top: -250px;
    left:830px;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:70px;
    height:40px;
    background: #ffaf97 ;
    background-position: left;
    background-size: 200%;
    color:white;
    font-size : 16px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .cp-button:hover {
    background-position: right;
  }