h1 {
    position: relative;
    top: 130px;
    left: 700px;
    color :#414a67;

}

.cp-input {
    position: relative;
    top: 130px;
    left: 715px;
    border: 2px solid #ffaf97;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;

}

input:focus {
    outline: none;
  }

.cp-button {
    position: relative;
    top: 170px;
    left: 815px;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:70px;
    height:40px;
    background: #ffaf97 ;
    background-position: left;
    background-size: 200%;
    color:white;
    font-size : 16px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }

  .error-message{
    position: relative;
    top: 133px;
    left: 730px;
    font-size:small;
    color: red;
}