p{
    position: relative;
    top: -100px;
    left: 680px;
    font-size: 20px;
    color: #363864;
    font-weight: 600;
}

.cp-button {
    position: relative;
    top: -100px;
    left: 790px;
    font-size: 16px;
    font-weight: 500;
    color: #363864;
}