h1 {
    position: absolute;
    top: 5%;
    left: 46%;
    font-size: 20px;
    color: #363864;
    font-weight: 600;
}

input{
    position: absolute;
    top: 13%;
    left: 40%;
    font-size: 17px;
    border-style: solid;
    border-color: #FFC1AB;
    padding: 10px;
    border-radius: 5px;
    width: 320px;
 }

 input:focus {
   outline: none;
 }

 .error-message{
    position: absolute;
    top: 19%;
    left: 40%;
    font-size: 15px;
    color: red;
 }

 button {
    position: absolute;
    top: 23%;
    left: 45.3%;
    background-color: #FFC1AB;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    height: 30px;
    width: 150px;
 }