 img {
    position: relative;
    top: -40px;
    left: 350px;
 }

 h2 {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
 }

 .title {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-size: 18px;
    font-weight: 550;
 }

 .date {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-size: 18px;
    font-weight: 550;
 }

.cp-stars {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-size: 18px;
    font-weight: 550;
    line-height: 50px;
}

 #content {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-weight: 550;
 }

 #content p{
    color: #363864;
    position: relative;
    top: -20px;
    left: -5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
 }

 .back-link{
    color: #363864;
    position: relative;
    top: -380px;
    left: 700px;
 }

.secondary {
    color: #363864;
    position: relative;
    top: -402px;
    left: 800px;
 }

 .warn {
    color: #363864;
    position: relative;
    top: -402px;
    left: 820px;
 }
