p {
    position: absolute;
    top: 5%;
    left: 46%;
    font-size: 20px;
    color: #363864;
    font-weight: 600;
}

#login_link{
    position: absolute;
    top: 15%;
    left: 48%;
    font-size: 17px;
    font-weight: 600;
    color: #363864; 
 }

 #main_link{
    position: absolute;
    top: 18%;
    left: 45.5%;
    font-size: 17px;
    font-weight: 600;
    color: #363864; 
 }