{% extends 'book/base.html' %}
{% block title %}{{ profile_user.nickname }} | <a href="{% url 'main' %}">Book</a> {% endblock title %} 

{% block content %}
<main class="site-body">
  <div class="profile-header">
    <div class="content max-content-width">
      <div class="profile-pic">
        <img src="{{ profile_user.profile_pic.url }}" width="100" height="100">
      </div>
      <div class="info">
        <h3 class="username"> 닉네임: {{ profile_user.nickname}}</h3>

        {% if profile_user == user %}
          <a href="{% url 'profile-update'%}">
            프로필 수정
          </a> 
          &#183;
          <a class="edit" href="{% url 'account_change_password' %}">
            비밀번호 변경
          </a>
        {% endif %}
        
        {% if profile_user.intro %}
        <div>
          <p class="intro"> 
            <h3>소개</h3>
              <p>{{ profile_user.intro }}</p>
          </div>
       {% endif %}
       
        </div>
      {% comment %} <div>
        <a class="wishList" href="{% url 'wishListView' %}">
           위시리스트
        </a>
      </div> {% endcomment %}

       <div class="header">
      <h2>{{ profile_user.nickname }}님의 최신 리뷰</h2>
      {% if user_reviews %}
        <a class="cp-ic-button after circle morereview" href="{% url 'user-review-list' profile_user.id %}">
          리뷰 전체보기
      </a>
      {% endif %}
    </div>

    <div class="contents">
      {% for review in user_reviews %}
      <a href="{% url 'review-detail' review.id %}">
        <div class="cp-card content">
          <div class="body">
            <span class="cp-chip green">{{ review.author }}</span>
            <h2 class="title">{{ review.title }}</h2>
            <date class="date">{{ review.dt_created|date:"Y년 n월 j일" }}</date>
            <div class="metadata">
              <div class="review-rating">
                <span class="cp-stars">
                  {% for i in ""|ljust:review.rating %}★{% endfor %}
                </span>
              </div>
              <div class="review-author">
                <div
                  class="cp-avatar"
                  style="background-image: url('{{ review.author.profile_pic.url }}')"
                ></div>
                <span>{{ review.author.nickname }}</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% empty %}
      <p class="empty">아직 리뷰가 없어요 :(</p>
      {% endfor %}
    </div>
  </div>
    </div>
  </div>

  
  </div>
</main>
{% endblock content %}
