{% extends 'book/base.html' %}
{% load static %} 

{% block title %}{{ profile_user.nickname }} | <a href="{% url 'main' %}">Book</a> {% endblock title %} 

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/profile_style.css' %}?hello">

<hr>

<main class="site-body">
  <div class="profile-header">
    <div class="content max-content-width">
      <div class="profile-pic">
        <img src="{{ profile_user.profile_pic.url }}" width="130" height="130">
      </div>
      <div class="info">
        <h3 class="username"> 닉네임: {{ profile_user.nickname}}</h3>

        <div class="intro">
          <h3>소개 :</h3>
          {% if profile_user.intro %}
            <p>{{ profile_user.intro }}</p>
          {% else %}
            <p>아직 소개글이 없습니다. </p>
          {% endif %}
        </div>

      <div>
        <a class="wishList" href="{% url 'profile-wishList' %}">
           위시리스트
        </a>
      </div> 
      
        {% if profile_user == user %}
          <a href="{% url 'profile-update'%}" id="edit_profile_link">
            프로필 수정
          </a> 

          <a class="edit" href="{% url 'account_change_password' %}" id="change_pw_link">
            비밀번호 변경
          </a>
        {% endif %}
        
      </div>


      <div class="header">
        <h2>{{ profile_user.nickname }}님의 최신 리뷰</h2>
        {% if user_reviews %}
          <a href="{% url 'user-review-list' profile_user.id %}" id="whole_review">
            리뷰 전체보기
        </a>
        {% endif %}
      </div>

      <div class="contents">
        <table>
          {% for review in user_reviews %}
            {% if forloop.counter == 1 %}
            <tr>
              <td id="re_">리뷰 제목</td>
              <td id="re_">작성자</td>
              <td id="re_">평점</td>
              <td id="re_">작성날짜</td>
            </tr>
            {% endif %}
        
            <tr>
              <section class="cp-card content">
                <div class="body">
                  <!--<span class="cp-chip green"> {{ review.book.book_title}}</span>--> 
                  <td><a href="{% url 'review-detail' review.id %}">
                    <div class="title"> {{review.title}}</div>
                  </a></td>
                  <td><a href="{% url 'review-detail' review.id %}">  
                    <div class="review-author">
                      <img src="./prac1_images/profile_img.jpg" alt="" />
                      <!--<img src="url('{{ review.author.profile_pic.url }}')" >-->
                      <span>{{review.author.nickname}}</span>
                    </div>
                  </a></td>
                      
                  <td><a href="{% url 'review-detail' review.id %}">                                        
                    <div class="review-rating">
                      <span class="cp-stars">
                        {{ review.rating }}
                      </span>
                    </div>
                  </a></td>
                  <td><a href="{% url 'review-detail' review.id %}">
                    <date class="date">{{ review.dt_created|date:"Y년 n월 j일"}}</date>
                  </a></td>
                </div>
              </section>
            {% if forloop.counter >= 2 %}
              </tr>
            {% endif %}
            {% empty %}
            <p class="empty">아직 리뷰가 없어요 :(</p> 
          {% endfor %}
        </table>
      </div>
    </div>
  </div>  
</main>
{% endblock content %}
