
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<DOCTYPE HTML5>
<html>
  <head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href = "{% static 'css/login_style.css' %}">
    <script src="https://kit.fontawesome.com/bcfd8ae0b2.js" crossorigin="anonymous"></script>
  </head>
  
  <body width="100%" height="100%">
  
    <form action="{% url 'login' %}" method="POST" class="loginForm">  
      <h2>로그인</h2>
      {% csrf_token %}
      {% if error %}
        <span style = "color:red">{{error}}</span>
      {% endif %}
      <div class="idForm">
        <input type="text" class="id" name = "username" placeholder="ID" >
      </div>
      <div class="passForm">
        <input type="password" class="pw" name ="password" placeholder="PW" > 
      </div>
      <button type="submit" class="btn" value="로그인" >로그인</button>

    
  
      
      <!--
        let button = () => {
        	alert('메인화면으로 이어지게 구현하기')
        }
      -->

      <div class="bottomText">
        Don't have an account? <a href="{% url 'signup' %}">sign up</a>
      </div>
      <p><a href="{% url 'account_reset_password'%}">비밀번호 찾기</a></p>
      <div class="seperator"><b>or</b></div>
      <p>Easier Sign in</p>
      <!--Social login buttons-->
      <div class="social-icon">

        <button type="button" id = "naver-button" onclick = "location.href = '{% provider_login_url 'naver' %}' "><i class="icon fa-solid fa-n"></i>네이버로 로그인</button>
        <button type="button" id = "kakao-button" onclick = "location.href = '{% provider_login_url 'kakao' %}' "><i class="icon fa-solid fa-k"></i>카카오로 로그인</button>
        <button type="button" id = "google-button" onclick = "location.href = '{% provider_login_url 'google' %}' "><i class="icon fa-solid fa-g"></i>구글로 로그인</button>
        
      </div>
    </form>
  </body>
   
</html>