{% extends 'book/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/password_change_style.css' %}?hello">
<hr>
<main class="account-password">
  <div class="title">
    <h2 class="heading">비밀번호 변경</h2>
  </div>

  <form method="post">
    {% csrf_token %}
    <!-- <div id="pw">
      <input type="password" name="oldpassword" placeholder="현재 비밀번호" autocomplete="current-password" class="cp-input" required id="id_oldpassword">
    </div>
    <div id="new_pw">
      <input type="password" name="password1" placeholder="새 비밀번호" autocomplete="new-password" class="cp-input" required id="id_password1">
    </div>
    <div id="new_pw_check">
      <input type="password" name="password2" placeholder="새 비밀번호 확인" class="cp-input" required id="id_password2">
    </div> -->

    <div id="pw">
      {{ form.oldpassword|add_class:"cp-input"|attr:"placeholder: 현재 비밀번호"|add_error_class:"error" }}
      {% for error in form.oldpassword.errors %}
        <div class="error-message" style="color: red;">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div id="new_pw">
      {{ form.password1|add_class:"cp-input"|attr:"placeholder: 새 비밀번호"|add_error_class:"error" }}
      {% for error in form.password1.errors %}
        <div class="error-message" style="color: red;">{{ error }}</div>
      {% endfor %}
    </div>

    <div id="new_pw_check">
      {{ form.password2|add_class:"cp-input"|attr:"placeholder: 새 비밀번호 확인"|add_error_class:"error" }}
      {% for error in form.password2.errors %}
        <div class="error-message" style="color: red;">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="cp-button" type="submit">완료</button>

  </form>
</main>
{% endblock content %}
