{% extends 'book/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/book_detail_style.css' %}">

<hr>

        <title>책 상세보기</title>
<!--        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->  
    <body width="100%" height="100%">
        <img src="{{book.book_img_url}}" alt="My Image" width=300px height=auto>
        <div id="book_detail">
            <h2>{{book.book_title}}</h2>
            <h4>작가: {{book.book_author}}</p>
            <h4>출판사: {{book.book_publisher}}</p>
            <h4>장르: {{book.genre_name}}</p>
        </div>

        <!-- <form action="{% url 'like-book' book.book_isbn %}" method='POST'>
            {% csrf_token %}
            {% if wished %}
            <input type="submit" value='좋아요 취소' name="wish-cancle">
            {% else %}
            <input type="submit" value='좋아요' name="wish-add">
            {% endif %}
        </form> -->

        
            <form action="{% url 'like-book' book.book_isbn %}" method='POST'>
                {% csrf_token %}
                {% if wished %}
                <button type="submit" class="btn btn-outline-success" name="wish-cancle">위시리스트 취소</button>
                {% else %}
                <button type="submit" class="btn btn-outline-success" name="wish-add">위시리스트 추가</button>
                {% endif %}
            </form>
        
        <h2>{{ book.book_title }}에 대한 리뷰</h2>
            {% for review in reviews %}
                {% if review.book.book_title == book.book_title %}
                    <a href="{% url 'review-detail' review.id %}">
                        <section class="cp-card content">
                            <div class="body">
                            <span class="cp-chip green"> {{ review.book.book_title}}</span> 
                            <h2 class="title"> {{review.title}}</h2>
                            <date class="date">{{ review.dt_created|date:"Y년 n월 j일"}}</date>
                            <div class="metadata">
                                <div class="review-rating">
                                <span class="cp-stars">
                                    {{ review.rating }}
                                </span>
                                </div>
                                <div class="review-author">
                                <div class="cp-avatar" style="background-image: url('{{ review.author.profile_pic.url }}')"></div>
                                <span>{{review.author.nickname}}</span>
                                </div>
                            </div>
                            </div>
                        </section>

                    </a>
                {% endif%}
            {% endfor %}

            

    </body>
   {% endblock content %}

