{% extends 'book/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block header %}
    <link rel="stylesheet" type="text/css" href = "{% static 'css/main_style.css' %}">
    <header class="site-header navbar">
    <div class="content max-width">
        {% if user.is_authenticated %}
            <p> 안녕하세요, {{user.nickname}}님 </p>
            <a href="{% url 'profile' user.id %}" id = "myprofile_link">내 프로필 </a>
            <a href="{% url 'account_logout' %}" id = "logout_link">로그아웃</a>
            <a href="{% url 'review-create' %}" id = "write_review_link"> 리뷰 작성 </a>
            
        {% else %}
            <p> 로그아웃된 상태입니다.</p>
            <a href="{% url 'login' %}" id = "login_link" >로그인</a>
            <a href="{% url 'signup' %}" id = "signup_link">회원가입</a>
            
        {% endif %}

        <a href="{% url 'review-list'%}" id="read_review_link">리뷰 보기</a>
        <a href="{% url 'book-recommend' %}" id="user_recommend_link"> {{ user.nickname}}님을 위한 책</a>

    </div>
    </header>

    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            
            <select name="option_select" id="option">
                <option value="all">전체</option>
                <option value="title">제목</option>
                <option value="author">저자</option>
                <option value="publisher">출판사</option>
                <option value="genre">장르</option>
            </select>
            <input type="search" name="q" id = "search_box" placeholder="Search">
            <input type="submit" value="검색" id = "search_btn"> 
        </form>
    </div>

    <hr>

    <div class="selectGenre">
        <form action="{% url 'select-genre' %}" method="GET">
            <input type="submit" value='장르별 책 선택하기' id="select_Genre">
        </form>
    </div>
    
    <div class="wishList">
        <form action="{% url 'profile-wishList' %}" method="GET">
            <input type="submit" value='위시리스트로 가기' id="wish_List">
        </form>
    </div>


    <h2>랜덤 책 리스트 </h2>
    <br>
    <div class="random">
        <div>

            <table>
                <tr>
                {% for i in ran_list %}
                    <td>
                        <div class="flex-container book">
                            <section id="pageSection">
                                <div class="page" id="page1">
                                    <a href="{{ i.get_absolute_url }}"><img src="{{ i.book_img_url }}" alt="My Image" width=200px height=auto></a>
    
                                </div>
                                <div class="page" id="page2">
                                    <h3>{{ i.book_title }}</h3>
                                    <h5> 작가 : {{ i.book_author }} </h5>
                                    <h5> 출판사 : {{ i.book_publisher }} </h5>
                                    <h5> 장르 : {{ i.genre_name }} </h5>
                                </div>
                            </section>
                        </div> 
                    </td>
                    {% if forloop.counter|divisibleby:5 %}
                    </tr>
                    <tr>
                    {% endif %}
                    {% endfor %}
                    </tr>
            </table>


        </div>
    </div>
{% endblock header %}

