{% extends 'book/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block header %}
    <link rel="stylesheet" type="text/css" href = "{% static 'css/main_style.css' %}">
    <header class="site-header navbar">
    <div class="content max-width">
        {% if user.is_authenticated %}
            <p> 안녕하세요, {{user.nickname}}님 </p>
            <a href="{% url 'profile' user.id %}" id = "myprofile_link">내 프로필 </a>
            <a href="{% url 'account_logout' %}" id = "logout_link">로그아웃</a>
            <a href="{% url 'review-create' %}" id = "write_review_link"> 리뷰 작성 </a>
            
        {% else %}
            <p> 로그아웃된 상태입니다.</p>
            <a href="{% url 'login' %}" id = "login_link" >로그인</a>
            <a href="{% url 'signup' %}" id = "signup_link">회원가입</a>
            
        {% endif %}
        
    </div>
    </header>

    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            
            <select name="option_select" id="option">
                <option value="all">전체</option>
                <option value="title">제목</option>
                <option value="author">저자</option>
                <option value="publisher">출판사</option>
                <option value="genre">장르</option>
            </select>
            <input type="search" name="q" id = "search_box" placeholder="Search">
            <input type="submit" value="검색" id = "search_btn"> 
        </form>
    </div>

    <hr>

    <div class="selectGenre">
        <form action="{% url 'select-genre' %}" method="GET">
            <input type="submit" value='장르별 책 선택하기'>
        </form>
    </div>
    
    <div class="wishList">
        <form action="{% url 'profile-wishList' %}" method="GET">
            <input type="submit" value='위시리스트로 가기'>
        </form>
    </div>


    <h1>랜덤 책리스트 </h1>
    <div class="random">
            {% for i in ran_list %}
                <img src="{{ i.book_img_url }}" alt="My Image" width=200px height=auto>
                <h3> 책 제목 {{ i.book_title }} </h3>
                <h3> 책 작가 {{ i.book_author }} </h3>
                <h3> 책 출판사 {{ i.book_publisher }} </h3>
                <h3> 책 장르 {{ i.genre_name }} </h3>
                <br>
            {% endfor%}
    </div>
        
{% endblock header %}
    
{% block content %}
 <div class="contents">
      {% for review in reviews %}
        <a href="{% url 'review-detail' review.id %}">
            <section class="cp-card content">
                <div class="body">
                <span class="cp-chip green"> {{ review.book.book_title}}</span> 
                <h2 class="title"> {{review.title}}</h2>
                <date class="date">{{ review.dt_created|date:"Y년 n월 j일"}}</date>
                <div class="metadata">
                    <div class="review-rating">
                    <span class="cp-stars">
                        {{ review.rating }}
                    </span>
                    </div>
                    <div class="review-author">
                      <div class="cp-avatar" style="background-image: url('{{ review.author.profile_pic.url }}')"></div>
                    <span>{{review.author.nickname}}</span>
                    </div>
                </div>
                </div>
            </section>
        </a>
      {% empty %}
        <p class="empty">
            아직 리뷰가 없어요 :(
        </p>
      {% endfor %} 
</div>
{% endblock content %}