{% extends 'book/base.html' %}
{% load static %}


{% block content %}
    
    <link rel="stylesheet" type="text/css" href = "{% static 'css/recommend_style.css' %}?hi">
    {% comment %} <hr> {% endcomment %}
    <header class="site-header navbar">
        <h2 id="title">{{ user.nickname}}님 맞춤 랜덤 책 리스트 </h2>
    <div class="random">
        {% comment %} {% for t in wishlist_title%}
            <p><h2 id="hashtag"> #{{ t }}와 유사한 책</h2><p>
        {% endfor %} {% endcomment %}
            <div style="display: flex;">
                <table>
                    <tr>
                
                {% for i in re_list%}
                    {% for b in i %}
                    <td>
                        <div class="flex-container book">
                            <section id="pageSection">
                                <div class="page" id="page1">
                                    <a href={% url 'book-detail' b.book_isbn %}>
                                        <img src="{{ b.book_img_url }}" alt="My Image" width=200px height=auto>
                                    </a>
                                </div>
                                <div class="page" id="page2">
                                    <a href={% url 'book-detail' b.book_isbn %}>
                                        <h3> {{ b.book_title }}</h3>
                                        <h5> 작가 : {{ b.book_author }} </h3>
                                        <h5> 출판사 : {{ b.book_publisher }} </h3>
                                        <h5> 장르 : {{ b.genre_name }} </h3>
                                    </a>
                                </div>
                            </section>
                        </div>
                    </td>
                    {% if forloop.counter|divisibleby:5 %}
                    </tr>
                    <tr>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
            </tr>
        </table>
             
            </div>
        
    <div>

    {% comment %} <ul class="pagination">
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">이전</a>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                <a href="?page={{p}}" class="mx-1">{{p}}</a>
            {% endfor %}
                    
            {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}">다음</a>
            {% endif %}
        </div>
        </ul> {% endcomment %}


{% endblock content %}