{% extends 'book/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href = "{% static 'css/search_style.css' %}?hello">
    <header class="site-header navbar">
    {% comment %} <hr> 
    <div class="content max-width">
        {% if user.is_authenticated %}
            <p> 안녕하세요, {{user.nickname}}님 </p>
            
            <a href="{% url 'account_logout' %}" id = "logout_link">로그아웃</a>
            <a href="{% url 'book-recommend' %}" id="user_recommend_link"> {{ user.nickname}}님을 위한 책</a>
            <a href="{% url 'review-list'%}" id="in_read_review_link">리뷰 보기</a>
            <a href="{% url 'profile' user.id %}" id = "myprofile_link">내 프로필 </a>
            <a href="{% url 'review-create' %}" id = "write_review_link"> 리뷰 작성 </a>
            
        {% else %}
            <p> 로그아웃된 상태입니다.</p>
            <a href="{% url 'login' %}" id = "login_link" >로그인</a>
            <a href="{% url 'signup' %}" id = "signup_link">회원가입</a>
            <a href="{% url 'review-list'%}" id="out_read_review_link">리뷰 보기</a>
            
        {% endif %}

        
        

    </div>
    </header>

    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            
            <select name="option_select" id="option">
                <option value="all">전체</option>
                <option value="title">제목</option>
                <option value="author">저자</option>
                <option value="publisher">출판사</option>
                <option value="genre">장르</option>
            </select>
            <input type="search" name="q" id = "search_box" placeholder="Search">
            <input type="submit" value="검색" id = "search_btn"> 
        </form>
    </div>
{% endcomment %}
<div class="search_result">
    
    <h3>&nbsp&nbsp&nbsp'{{ search_key }}'의 검색결과</h3>
    <br>
    {% for book in page_obj %}
        <table>
            <td> <a href="{{ book.get_absolute_url }}"><img src="{{ book.book_img_url }}" alt="My Image" width=200px height=auto></a></td>
            <td id="book_detail">
                <h4>제목 : {{ book.book_title }}</h4>
                <h5>저자 : {{ book.book_author }}</h5>
                <h5>출판사 : {{ book.book_publisher }}</h5>
                <h5>장르 : {{ book.genre_name }}</h5>
            </td>
        </table>
        <br>
    {% empty %}
        <a id="none">검색 결과가 없습니다.</a>
    {% endfor %}
    <br/>
    <br/>
   <ul class="pagination">
        <!-- 이전 페이지 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/search/?option_select={{ request.GET.option_select }}&q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}"> ◀ </a>
            </li>
            {% endif %}

            <!-- 이전페이지가 없는 경우 -->
            {% if page_obj.number > page_size|add:'1' %}
                <li class="page-item"><a class="page-link" href="/search/?option_select={{ request.GET.option_select }}&q={{ request.GET.q }}&page=1">1</a></li>
                <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}

            <!-- page list -->
            {% for page_number in page_range %}
                {% if page_number == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="/search/?option_select={{ request.GET.option_select }}&q={{ request.GET.q }}&page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="/search/?option_select={{ request.GET.option_select }}&q={{ request.GET.q }}&page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endfor %}

            <!-- next page -->
            {% if page_obj.number|add:page_size < max_index %}
                <li class="page-item"><span class="page-link">...</span></li>
                <li class="page-item"><a class="page-link" href="/search/?option_select={{ request.GET.option_select }}&q={{ request.GET.q }}&page={{ max_index }}">{{ max_index }}</a></li>
            {% endif %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="/search/?option_select={{ request.GET.option_select }}&q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">▶</a>
            </li>
            {% endif %}  
        </ul>
</div>
{% endblock header %}


