{% extends 'book/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href = "{% static 'css/search_style.css' %}">

<hr>

<div class="search">
    <h3>&nbsp&nbsp&nbsp'{{ search_key }}'의 검색결과</h3>
    <br>
    {% for book in search_books %}
        <table>
            <td><a href="{{ book.get_absolute_url }}"><img src="{{ book.book_img_url }}" alt="My Image" width=200px height=auto></a></td>
            <td id="book_detail">
                <h4>제목 : {{ book.book_title }}</h4>
                <h5>저자 : {{ book.book_author }}</h5>
                <h5>출판사 : {{ book.book_publisher }}</h5>
                <h5>장르 : {{ book.genre_name }}</h5>
            </td>
        </table>
        <br>
    {% empty %}
<!--        <a>검색 결과가 없습니다.</a> -->
    {% endfor %}

{% endblock content %}
</div>