.title h1 {
    position: relative;
    top: -70px;
    left: 780px;
    font-size: 25px;
    color: #363864;
    font-weight: 600;
}

#find_pw input{
    position: relative;
    top: -60px;
    left: 680px;
    font-size: 17px;
    border-style: solid;
    border-color: #FFC1AB;
    padding: 10px;
    border-radius: 5px;
    width: 320px;
 }

 input:focus {
   outline: none;
 }

 .error-message{
    position: relative;
    top: 60px;
    left: 683px;
    font-size: 15px;
    color: red;
 }

 button {
    position: relative;
    top: -30px;
    left: 770px;
    background-color: #FFC1AB;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    height: 30px;
    width: 150px;
 }