.cp-dialog p {
    position: relative;
    top: -80px;
    left: 650px;
    color: #363864;
    font-size: 20px;
    font-weight: 600;
}

.cp-dialog a{
    position: relative;
    top: -80px;
    left: 780px;
    color: #363864;
}