 img {
    position: relative;
    top: -40px;
    left: 350px;
 }

 h2 {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
 }

 .title {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-size: 18px;
    font-weight: 550;
 }

 .date {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-size: 18px;
    font-weight: 550;
 }

.cp-stars {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-size: 18px;
    font-weight: 550;
    line-height: 50px;
}

 #content {
    color: #363864;
    position: relative;
    top: -460px;
    left: 700px;
    font-weight: 550;
 }

 #content p{
    color: #363864;
    position: relative;
    top: -10px;
    left: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
 }


 .back-link{
    color: #363864;
    position: relative;
    top: -380px;
    left: 700px;
 }

.secondary {
    color: #363864;
    position: relative;
    top: -402px;
    left: 800px;
 }

 .warn {
    color: #363864;
    position: relative;
    top: -402px;
    left: 820px;
 }

 #div_tag {
   position: relative;
   top: -390px;
   left: 700px;
 }

 #div_tag a {
   color: #363864;
   text-decoration-line: none;
 }
